@import "tailwindcss";

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    /* margin: 0 auto; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("https://scontent-ssn1-1.xx.fbcdn.net/v/t1.6435-9/69358298_420705388576125_2524618687537741824_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=127cfc&_nc_ohc=1C-qlIN3hewQ7kNvgGYeMqX&_nc_zt=23&_nc_ht=scontent-ssn1-1.xx&_nc_gid=A8HMoJ7g1-ta2_i70oZJPps&oh=00_AYAoiJr5RdDc9lwmlNjGevfj2TXANKu_20jMSeJH0HbkVQ&oe=67AEC1BF");
}
